    .banner {
        background: #000 ;
    }

    .banner__content{

        padding: 16px;
        max max-width: 1000px;
    }

    .banner__text {
        text-align: center;
        font-size: 30px;
        color: cornsilk;
    }

    body {
        background: rgb(100, 237, 134);
    }

    .content{
        font-size: 14px;
    }